{% extends 'flatpages/default.html' %}

{% block title %} Posts {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный товар?</h2>
<table>
    <thead>
        <th>
            Title
        </th>
        <th>
            Pub date
        </th>
        <th>
            Text
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title |title }}
        </td>
        <td>
            {{ post.dateCreation | default:"Без даты"|date:'d.m.Y' }}
        </td>
        <td>
            {{ post.text | truncatechars:25 }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}