{% extends 'flatpages/default.html' %}

{% block title %} Posts {% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <p>(total news on the site: {{ posts|length }})</p>
    <h3> {{ value1|default_if_none:"ничего" }} </h3>

<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">

</form>
<table>
    <thead>
        <th>
            Title
        </th>
        <th>
            Pub date
        </th>
        <th>
            Text
        </th>
    </thead>
    {% for post in filter.qs %}
    <tr>
        <td>
            <a href="{% url 'post_detail' post.id %}">{{ post.title |title }}</a>
            <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a>
            <a href="{% url 'post_delete' post.id %}"><u>Удалить</u></a>
        </td>
        <td>
            {{ post.dateCreation | default:"Без даты"|date:'d.m.Y' }}
        </td>
        <td>
            {{ post.text | truncatechars:25 }}
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'post_create' %}">Добавить новую статью</a> <br>

{% if is_paginated %}
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}


